@font-face
  font-family: 'PTSans'
  src: url('../fonts/PTSans/PTSans-Regular.eot')
  src: url('../fonts/PTSans/PTSans-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/PTSans/PTSans-Regular.woff2') format("woff2"), url('../fonts/PTSans/PTSans-Regular.woff') format("woff"), url('../fonts/PTSans/PTSans-Regular.ttf') format("truetype"), url('../fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'PTSans'
  src: url('../fonts/PTSans/PTSans-Bold.eot')
  src: url('../fonts/PTSans/PTSans-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/PTSans/PTSans-Bold.woff2') format("woff2"), url('../fonts/PTSans/PTSans-Bold.woff') format("woff"), url('../fonts/PTSans/PTSans-Bold.ttf') format("truetype"), url('../fonts/PTSans/PTSans-Bold.svg#PTSans-Bold') format("svg")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'PTSans'
  src: url('../fonts/PTSans/PTSans-Italic.eot')
  src: url('../fonts/PTSans/PTSans-Italic.eot?#iefix') format("embedded-opentype"), url('../fonts/PTSans/PTSans-Italic.woff2') format("woff2"), url('../fonts/PTSans/PTSans-Italic.woff') format("woff"), url('../fonts/PTSans/PTSans-Italic.ttf') format("truetype"), url('../fonts/PTSans/PTSans-Italic.svg#PTSans-Italic') format("svg")
  font-weight: normal
  font-style: italic

.sprite::before
  content: ''
  position: relative
  background-image: url(../img/spritesheet.png)
  background-repeat: no-repeat
  display: block

.sprite-arrow-left::before
  width: 10px
  height: 13px
  background-position: -5px -5px

.sprite-basket::before
  width: 24px
  height: 20px
  background-position: -25px -5px

.sprite-mail::before
  width: 36px
  height: 35px
  background-position: -59px -5px

.sprite-marker::before
  width: 25px
  height: 35px
  background-position: -105px -5px

.sprite-marker-blue::before
  width: 37px
  height: 42px
  background-position: -5px -50px

.sprite-marker-red::before
  width: 37px
  height: 42px
  background-position: -52px -50px

.sprite-searsh::before
  width: 23px
  height: 23px
  background-position: -99px -50px

.sprite-servicing::before
  width: 70px
  height: 70px
  background-position: -140px -5px

.sprite-tel::before
  width: 45px
  height: 40px
  background-position: -99px -85px

.sprite-user::before
  width: 18px
  height: 21px
  background-position: -154px -85px

.sprite-zoom::before
  width: 23px
  height: 19px
  background-position: -182px -85px