@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------
header
	padding: 20px 0 0

.container
	width: 1220px
	
.container-small
	max-width: 990px
		
.content
	min-height: calc(100vh - 144px)

.justify-align
	display: flex
	justify-content: space-between
	align-items: center

.left-align
	display: flex


.right-align
	display: flex
	justify-content: flex-end

.center-align
	display: flex
	justify-content: center
	align-items: center

.flex
	display: flex
	flex-wrap: wrap


.header-left
	max-width: 723px
	width: 100%

	flex-wrap: wrap

	&__top
		width: 100%
		margin: 0 0 15px

.logo
	display: inline-block

.company-description
	font-size: 14px
	line-height: 17px

.header-address
	position: relative
	padding: 0 0 0 40px
	font-size: 14px
	line-height: 17px

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		width: 25px
		height: 35px
		background-position: -105px -5px

.search-form
	position: relative
	width: 100%

	input
		height: 42px
		border: 1px solid #636363
		width: 100%
		outline: none
		padding: 0 40px 0 20px

	button
		position: absolute
		right: 10px
		top: 8px
		background-color: transparent
		outline: none
		border: none


.header-right
	max-width: 440px
	width: 100%
	justify-content: space-between

	&__tel, &__mail
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100px


.header-mail
	position: relative
	padding: 0 0 0 45px
	min-height: 45px
	display: flex
	justify-content: center
	flex-direction: column
	
	a
		font-size: 20px
		color: #272727
	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		bottom: 0
		margin: auto
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		width: 36px
		height: 35px
		background-position: -59px -5px

.header-tel
	position: relative
	min-height: 45px
	display: flex
	justify-content: center
	flex-direction: column
	padding: 0 0 0 55px

	a
		display: block
		font-weight: bold
		font-size: 18px
		line-height: 21px
		color: #000

	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		bottom: 0
		margin: auto
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		width: 45px
		height: 40px
		background-position: -99px -85px









.header-nav
	margin: 25px 0 0
	padding: 0 20px
	background: #EDEAEC


.navbar
	min-height: 0
	margin: 0
	border: none
	border-radius: 0
	border: none

.navbar-collapse
	padding-right: 0
	padding-left: 0
	border-top: none
	-webkit-box-shadow: none
	box-shadow: none

.navbar-nav
	float: none
	margin: 0

.nav.navbar-nav
	&::before, &::after
		display: none

.navbar-nav 

	> li
		float: none
		display: inline-block
		margin-right: -0.3em

		&:first-child
			> a
				margin-left: 0
		&:last-child
			> a
				margin-right: 0

		> a
			display: block
			padding: 11px 0
			margin: 0 25px
			font-size: 16px
			color: #272727
			font-weight: bold
			border: none

			&.active, &:hover, &:focus
				background-color: transparent

			
.nav .open > a
	background-color: transparent
	border-color: transparent
	color: $grey
	&:focus, &:hover
		background-color: transparent
		border-color: transparent


.header-nav__right
	display: flex

.header-login
	position: relative
	padding: 0 0 0 25px
	margin-right: 25px
	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		display: block		
		width: 18px
		height: 21px
		background-position: -154px -85px

	a
		display: inline-block
		font-size: 16px
		color: #272727
		font-weight: bold

	span
		display: inline-block
		font-size: 16px
		color: #272727
		font-weight: bold

.header-cart
	position: relative
	padding: 0 0 0 30px

	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		width: 24px
		height: 20px
		background-position: -25px -5px

	a
		display: inline-block
		font-size: 16px
		color: #272727

		span
			display: inline-block
			margin-left: 10px








.btn
	display: inline-block
	padding: 3px 25px 7px
	font-size: 20px
	color: #fff
	font-weight: bold
	background: #DA4045
	border-radius: 4px
	outline: none
	box-shadow: inset 0px -5px 0px 0px rgba(196,43,48,1)
	outline: none

	&:focus, &:hover
		opacity: 1
		color: #fff
		background: #C42B30
		box-shadow: none
		outline: none

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
	outline: none

.btn-red
	padding-left: 34px
	padding-right: 34px
	color: #fff
	border-radius: 3px

	&:hover, &:focus
		color: #fff
		background: #1177B4
		opacity: 1

.btn-blue
	padding: 0 20px 2px
	line-height: 24px
	border-radius: 3px
	font-size: 18px
	font-weight: normal
	color: #fff
	background: #00B2EC
	box-shadow: inset 0px -3px 0px 0px rgba(0,148,206,1)

	&:hover, &:focus
		color: #fff
		background: #0094CE
		opacity: 1

.btn-transparent
	padding: 4px 25px
	border: 3px solid #C42B30
	border-radius: 5px
	color: #DA4045
	background: #fff
	box-shadow: none
	&:focus, &:hover
		opacity: 1
		color: #fff
		background: #DA4045

.content-wrap
	position: relative
	margin-top: 25px

	.tabs-wrapper
		margin-bottom: 50px

.sidebar
	position: relative
	
	&-item
		padding: 10px 0 10px
		background: #EDEAEC
		margin-bottom: 30px

		

		>ul
			list-style: none

			>li
				
				

				>a
					display: block

					padding: 3px 15px
					line-height: 28px
					font-size: 15px

					&:hover
						text-decoration: underline

	&-filters
		padding: 15px
		background: #fff
		border: 1px solid #DA4045

		h6
			margin-bottom: 10px

		.check-list
			margin-bottom: 20px
			column-count: 2

			li
				margin-bottom: 5px

		.btn
			margin-bottom: 5px
			font-size: 16px
			font-weight: normal


	h5
		margin: 5px 0
		padding-left: 15px
		padding-right: 15px

		a
			&:hover
				text-decoration: underline

	&-catalog
		.drop
			position: relative
			

			&::after
				content: '˅'
				position: absolute
				right: 13px
				top: 8px
				font-size: 15px
				font-family: monospace
				transform: rotate(-90deg)

				>a
					padding-right: 20px

			&.active
				

				&::after
					top: 14px
					right: 15px
					color: #fff
					transform: rotate(0)

				>a
					background: #DA4045
					font-weight: bold
					color: #fff
					text-decoration: underline

					&:hover, &:focus
						color: #fff
						opacity: 1

			ul
				display: none
				list-style: none

				li
					margin-bottom: 5px
					padding: 0 0 0 20px
					

					a
						font-style: italic
						line-height: 25px
						font-size: 14px

.catalog
	margin-bottom: 40px

	h1, h2
		margin-bottom: 20px

	&-item
		height: 226px
		margin-bottom: 40px
		display: flex
		flex-wrap: wrap
		text-align: center
		border: 1px solid #EDEAEC

		&__list
			margin-bottom: 40px

			&::last-of-type
				margin-bottom: 50px

			&--img
				transition: all .3s
				display: flex
				flex-wrap: wrap
				text-align: center
				min-height: 165px
				border: 1px solid #EDEAEC
				&:hover
					box-shadow: 0px 0px 24px rgba(0,0,0,0.1), 0px 0px 24px rgba(0,0,0,0.1)
	
		&__text
			h5
				padding-bottom: 5px
				margin-bottom: 5px
				border-bottom: 2px solid $grey

			p
				margin-bottom: 15px

			.btn
				padding-left: 30px
				padding-right: 30px

		&:hover
			box-shadow: 0px 0px 24px rgba(0,0,0,0.1), 0px 0px 24px rgba(0,0,0,0.1)

		&__img
			display: flex
			align-items: center
			justify-content: center
			height: calc(100% - 45px)
			width: 100%

		&__name
			display: flex
			align-items: center
			justify-content: center
			width: 100%
			padding: 0 7px
			height: 45px
			font-family: arial
			font-size: 14px
			line-height: 17px
			font-weight: bold
			color: #000

.section
	padding: 50px 0

	h2
		margin-bottom: 50px
		text-align: center

.leaders-sales
	border-top: 1px solid #EDEAEC

.product-item
	border: 1px solid #EDEAEC
	height: 312px
	margin-bottom: 40px
	display: flex
	flex-direction: column
	text-align: center
	border: 1px solid #EDEAEC
	background: #fff

	&:hover
		box-shadow: 0px 0px 24px rgba(0,0,0,0.1), 0px 0px 24px rgba(0,0,0,0.1)

	&__img
		display: flex
		align-items: center
		justify-content: center
		height: 180px

	&__info
		height: 132px
		padding: 0 10px
		display: flex
		flex-direction: column

		h6
			display: flex
			align-items: center
			justify-content: center
			height: 45px
			flex-direction: column

			strong
				display: block

	&__price
		padding: 10px 0

	&__bottom

		input
			width: 35px
			height: 26px
			border: 1px solid #EDEAEC
			text-align: center

		.btn
			padding: 4px 16px
			font-size: 16px
			line-height: 19px
			font-weight: normal
			box-shadow: inset 0 -3px 0 0 #c42b30

	&__list
		margin-bottom: 40px

		&--img
			height: 165px
			display: flex
			align-items: center
			justify-content: center
			border: 1px solid #edeaec

			&:hover
				box-shadow: 0 0 24px rgba(0,0,0,.1), 0 0 24px rgba(0,0,0,.1)

		&--info
			align-items: flex-start

		&--text
			width: calc(100% - 150px)
			h5
				padding: 0 0 3px
				margin: 0 0 10px
				border-bottom: 1px solid $grey

			ul
				list-style: none

				li
					line-height: 19px
			


		&--right
			width: 150px

			.btn
				width: 100%
				text-align: center

			.plus-minus
				width: 100%
				display: flex
				margin-bottom: 15px

				button
					span
						height: 28px
						font-size: 25px
						background-color: transparent
						border: none

				input
					width: 35px
					height: 28px
					border: 1px solid #C8C8C8

		&--price
			padding: 0 0 3px
			margin: 0 0 10px
			border-bottom: 1px solid $grey

		&--grey
			display: block
			padding: 2px 10px 3px
			margin: 0 0 15px
			line-height: 21px
			background: #EDEAEC
			text-align: center

.product-table
	display: table
	width: 100%
	border-collapse: collapse
	
	&__row
		display: table-row

		>*
			display: table-cell
			border-top: 1px solid $grey
			padding: 15px 10px
			vertical-align: middle

			&.product-table__name
				width: 40%
				padding-left: 0

			&.btn-cart
				width: 90px
				padding-right: 0
		
		.plus-minus
			width: 100px
			display: flex
			margin: 0

			button
				span
					height: 28px
					font-size: 25px
					background-color: transparent
					border: none

				input
					width: 35px
					height: 28px
					border: 1px solid #C8C8C8

	.product-item__list--grey
		margin: 0

	.btn
		padding: 3px 8px 3px
		box-shadow: none
		font-weight: normal
		font-size: 16px
		line-height: 19px
		border-radius: 2px






.slider
	padding: 0 50px

	.slick-prev, .slick-next
		top: 40%
		width: 50px
		height: 50px

	.slick-prev
		left: -30px

	.slick-next
		right: -30px

	.slick-prev::before, .slick-next::before
		content: ''
		display: block
		background-color: transparent
		width: 50px
		height: 50px
		opacity: 1
		
	.slick-prev::before 
		left: 0
		background-color: transparent
		background: url(../img/prev.svg)
	.slick-next::before
		right: 0
		background-color: transparent
		background: url(../img/next.svg)
		&:hover, &:focus




	.product-item
		margin-left: 15px
		margin-right: 15px

.slick-slide 
	outline: none

.section-grey
	background: $grey


.service-wrap
	padding: 30px 0 0
	display: flex
	justify-content: space-between

.service-item
	display: flex
	flex-wrap: wrap
	flex-direction: column
	text-align: center
	max-width: 170px

	img
		display: block
		margin: 0 auto
		width: 100px
		height: 100px
		margin-bottom: 30px


.licenses

	&-wrap
		display: flex
		justify-content: space-between

	&-item
		text-align: center

		&__img
			display: flex
			align-items: center
			justify-content: center
			padding: 32px
			margin: 0 0 40px
			width: 166px
			height: 218px
			background: url(../img/border.jpg) no-repeat
			background-size: cover


		>a
			position: relative
			display: inline-block
			padding: 0 30px 0 0
			font-size: 16px
			color: #000
			border-bottom: 1px solid transparent

			&::after
				content: ''
				position: absolute
				right: 0
				top: 0
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat
				display: block
				width: 23px
				height: 19px
				background-position: -182px -85px

			&:hover
				border-color: #000
				opacity: 1



footer
	padding: 45px 0
	background: #787878

.footer-wrap
	align-items: flex-start

.footer-left
	>a
		display: inline-block
		color: #fff

		&:hover, &:focus
			text-decoration: underline

.footer-logo
	display: inline-block
	margin-bottom: 20px

	&:hover, &:focus
		opacity: .8

.footer-infolist
	margin-bottom: 20px
	list-style: none

	li
		font-size: 16px
		line-height: 19px
		color: #fff


.footer-right
	max-width: 450px


.footer-link
	display: inline-block
	margin-bottom: 30px
	font-size: 25px
	color: #fff

.footer-menu
	margin-top: 30px
	list-style: none

	li
		margin-bottom: 8px
		a
			font-size: 16px
			font-weight: bold
			color: #fff


.inner
	padding: 25px 0 30px
	h2, h1
		margin-bottom: 35px
		text-align: left
		border-bottom: 1px solid $grey

article
	p
		margin-bottom: 20px
		font-size: 16px
		line-height: 21px

	ul, ol
		margin-bottom: 20px
		padding: 0 0 0 40px

		li
			font-size: 16px
			line-height: 21px

			a
				color: #2E3192

	ol
		ul
			padding-left: 10px
			list-style-type: disc

	h3
		margin-bottom: 25px

	h5
		line-height: 24px

.show-more
	position: relative
	text-align: center

	&::before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: -40px
		height: 30px
		background: rgba(256,256,256, 0.4)

	&.active
		&::before
			display: none

	&__btn
		position: relative
		display: inline-block
		padding: 0 25px 0 5px
		font-weight: bold
		background: #F5F9FA
		border-bottom: 1px dotted

		&::after
			content: ''
			position: absolute
			right: 5px
			top: 5px
			transform: rotate(90deg)
			background-image: url(../img/spritesheet.png)
			background-repeat: no-repeat
			display: block
			width: 10px
			height: 13px
			background-position: -5px -5px

		&.active
			&::after
				transform: rotate(-90deg)

	&__body
		display: none
		text-align: left

.specifications
	list-style: none

	li
		display: block
		margin-bottom: 15px
		color: #787878

		>span.dotted
			position: relative
			display: inline-block
			width: 358px
			color: #787878

			&::after
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 3px
				width: 100%
				border-bottom: 2px dotted #787878

			>span
				position: relative
				padding-right: 5px
				z-index: 10
				background: #fff



		>strong
			display: inline-block
			padding-left: 5px
			color: #272727


blockquote
	padding: 15px 35px
	margin: 0 0 35px
	background: $grey
	font-size: 18px
	line-height: 26px
	border: 2px solid #C42B30

.padding-left
	padding-left: 20px
	line-height: 21px

.color-blue
	color: $blue

.partner-slider, .customer-slider
	margin: 30px 0

	&__item
		margin-left: 10px
		margin-right: 10px

.team
	margin: 40px 0
	display: flex
	justify-content: space-between
	flex-wrap: wrap

	&-item
		max-width: 200px
		margin-bottom: 30px

		&__info
			padding: 15px 0 0
			span, strong
				display: block
				line-height: 21px



.print-version
	position: relative
	display: inline-block
	padding: 0 0 0 30px
	margin: 0 0 20px
	font-size: 16px
	line-height: 21px

	&:hover
		text-decoration: underline

	&::before
		content: ''
		position: absolute
		left: 0
		top: -1px
		width: 26px
		height: 24px
		background: url(../img/print.jpg)

.place-item
	position: relative
	padding: 0 0 0 40px
	margin: 0 0 22px

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		display: block
		width: 37px
		height: 42px
		background-position: -52px -50px

	strong, span
		display: block

	&__blue
		&::before
			background-position: -5px -50px

.contacts-list
	margin: 0 0 20px
	list-style: none

	li
		line-height: 21px

.contacts-link
	display: inline-block
	margin-bottom: 20px
	color: $blue
	font-size: 18px
	line-height: 23px
	font-weight: bold
	text-decoration: underline

.breadcrumbs
	margin: 24px 0 0
	padding-bottom: 5px
	border-bottom: 1px solid $grey
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px

		+ li::before
			content: "/"
			padding: 0 8px 0 3px
			font-size: 14px

		a
			position: relative

		&:last-child
			font-weight: bold

.content-wrap
	.breadcrumbs
		margin: 0 0 24px

.cart
	padding-bottom: 50px
	border-bottom: 1px solid $grey

	&-header
		margin-bottom: 30px

		h1
			margin-bottom: 0
			border: none
		&__left
			align-items: center


	h1
		margin-right: 30px

	&-footer
		padding: 20px 0 20px

	&-sidebar
		padding: 18px 30px
		background: $grey

		p
			margin-bottom: 20px

			&:last-of-type
				margin-bottom: 15px

		.btn
			margin-bottom: 15px
			font-size: 18px
			width: 100%

			&:last-of-type
				margin-bottom: 0


.clear-btn
	position: relative
	top: 2px
	display: inline-block
	border: none
	outline: none
	background-color: transparent

	span
		display: inline-block
		vertical-align: middle
		padding: 0 0 0 10px
		font-size: 16px
		line-height: 19px

.clear-icon
	position: relative
	top: -1px
	display: inline-block

	&::before
		content: ''
		display: inline-block
		vertical-align: middle
		width: 22px
		height: 22px
		background: url(../img/clear.jpg)


.print-btn
	border: none
	outline: none
	background-color: transparent

.print-icon
	display: inline-block
	
	&::before
		content: ''
		display: inline-block
		vertical-align: middle
		width: 26px
		height: 24px
		background: url(../img/print.jpg)

table.cart-table
	width: 100%
	border-collapse: collapse
		
	thead
		border: 2px solid $grey
		tr
			background: $grey

			td
				padding: 20px 10px
				font-size: 16px
				line-height: 19px
				text-align: center
				vertical-align: middle 

				&:first-child
					text-align: left

	tbody
		border-left: 2px solid $grey
		border-right: 2px solid $grey
		tr
			td
				padding: 10px
				border-bottom: 2px solid $grey
				text-align: center
				vertical-align: middle

				&:first-child
					text-align: left

				>span
					display: block

				>a
					color: $blue
					text-decoration: underline



.plus-minus
	display: inline-block
	width: 120px


	button
		padding: 0
		border: none
		outline: none
		background-color: transparent
		span
			width: 30px
			height: 20px
			display: flex
			align-items: center
			justify-content: center
			outline: none
			background-color: $grey
			border: 1px solid #C8C8C8
			font-size: 20px
			line-height: 18px

	input
		width: 45px
		border: none
		outline: none
		background-color: transparent
		text-align: center


.back-btn
	position: relative
	display: inline-block
	padding: 0 0 0 25px

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		background-image: url(../img/spritesheet.png)
		background-repeat: no-repeat
		width: 19px
		height: 20px
		background: url(../img/angle-left.jpg)

.info-block
	position: relative
	padding: 0 0 0 40px
	max-width: 384px
	width: 100%

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		bottom: 0
		margin: auto
		width: 29px
		height: 30px
		background: url(../img/info.jpg)


.tabs
	&-wrapper
		padding: 35px 0 0

		.contacts
			margin-bottom: 35px

	&-nav
		list-style: none

		li
			display: inline-block

			a
				display: block
				padding: 0 40px 6px 0
				font-size: 18px
				font-weight: bold
				color: #787878
			
				&.active
					color: #272727
					border-bottom: 3px solid

	&-item
		display: none

		&__body
			padding: 35px 0 0

		&.active
			display: block

		
.faq
	margin: 30px 0 50px

	&+.faq
		margin-top: 0
	h3
		margin-bottom: 20px

	&-wrapper
		
	&-item
		padding: 10px 0

	&-header
		color: $blue
		text-decoration: underline

		&:hover, &:focus
			color: $blue

	&-body
		padding: 5px 0 0
		display: none

		ul
			padding: 0 0 0 30px

.filters-block
	margin-bottom: 25px


.select-wrap
	display: inline-flex
	align-items: center

.select-item
	margin-right: 40px

	&:last-child
		margin-right: 0
	>span
		display: inline-block
		margin-right: 20px
		padding: 2px 10px
		border: 1px solid #C8C8C8
		font-size: 14px

.jq-selectbox
	min-width: 120px

	.jq-selectbox__select
		font-size: 14px

	.jq-selectbox__select-text
		width: 100% !important
		position: relative
		padding: 2px 10px
		border: 1px solid #C8C8C8

		&::after
			content: '\f0dd'
			position: absolute
			right: 10px
			top: -1px
			font-family: "FontAwesome"
			color: #C0C0C0
			font-size: 16px

	.jq-selectbox__dropdown 
		top: 24px!important
		left: 0px!important
		z-index: 999
		min-width: 229px
		


		ul
			max-height: 145px !important
			border: 1px solid #E5E5EB
			background: #fff
			list-style: none
			li
				padding: 5px 10px
				font-size: 14px
				
				transition: all .3s

				&:hover
					background: #F5F5F7


	select:hover, select
		opacity: 0
		visibility: hidden


.view
	display: flex
	align-items: center
	>span
		padding: 0 10px 0 0

	&-btn
		position: relative
		margin: 0 10px
		font-size: 22px
		color: #969696
			
		.fa-th
			font-size: 20px

		&.active
			color: #C42B30

		&::after
			content: ''
			position: absolute
			right: -10px
			top: 4px
			vertical-align: middle
			width: 1px
			height: 20px
			background: #969696

		&:last-of-type
			margin-right: 0
			&:after
				display: none


.product

	&-cart
		margin-top: 25px
		margin-bottom: 45px

		&__slider
			margin-bottom: 25px
			border: 2px solid #EDEAEC

			&:hover
				box-shadow: 0px 0px 24px rgba(0,0,0,0.1), 0px 0px 24px rgba(0,0,0,0.1)

			&--nav
				max-width: 427px
				margin-left: -7px
				margin-right: -7px
				.slick-slide
					margin: 0 7px
					border: 2px solid #EDEAEC
					&:hover
						box-shadow: 0px 0px 24px rgba(0,0,0,0.1), 0px 0px 24px rgba(0,0,0,0.1)

					img
						margin: 0 auto
			img
				margin: 0 auto

			&--wrap
				position: relative
				padding-right: 60px

				.product-cart__slider--next
					padding: 0
					outline: none
					background-color: transparent
					border: none
					position: absolute
					right: 0
					top: 0
					bottom: 0
					margin: auto

					img
						width: 40px
						height: 40px
				
		&__info

		&__price
			margin-bottom: 20px

			&--wrap
				display: inline-block
				position: relative
				padding-right: 20px
				strong
					display: inline-block
					font-size: 40px
					line-height: 48px
			&--hidden
				position: absolute
				top: 0
				left: 100%
				display: flex
				align-items: center
				min-width: 120px

				.icon-question
					cursor: pointer

				>span
					display: inline-block
					padding-left: 5px
					opacity: 0
					transition: all .3s

				&:hover
					>span
						opacity: 1

			>span
				display: block

		&__buy
			margin-bottom: 25px
			.plus-minus
				width: 112px
				margin-right: 20px

				button
					display: inline-block
					margin-right: -0.3em
					vertical-align: middle
					span
						width: 38px
						height: 28px
						font-size: 25px
				input
					display: inline-block
					margin-right: -0.3em
					vertical-align: middle
					width: calc(100% - 76px)
					height: 28px
					border: 1px solid #c8c8c8
					outline: none
					padding: 0

		&__list
			margin-bottom: 15px
			list-style: none

			li
				margin-bottom: 10px

				a
					text-decoration: underline

				.color-grey
					display: inline-block
					padding-right: 5px

					
.icon-question
	display: flex
	align-items: center
	justify-content: center
	border-radius: 50%
	width: 13px
	height: 13px
	background: #999
	color: #fff
	font-size: 9px

.color-grey
	color: #787878

.soc-list
	list-style: none

	li
		display: inline-block
		margin-right: 15px
		vertical-align: middle

		a
			font-size: 16px

			.fa-facebook
				color: #255295

			.fa-twitter
				color: #00B3ED

			.fa-vk
				color: #5973A4

			.fa-odnoklassniki
				color: #F3820A

			.fa-instagram
				color: #E54B7F







.order
	&-header
		margin-bottom: 30px
		h1
			margin: 0 50px 0 0
			border-bottom: none

		.btn
			padding-left: 35px
			padding-right: 35px
			font-size: 18px

		&__left
			a
				display: inline-block
				position: relative
				top: 3px

.col-8
	max-width: 858px

.form


	&-item
		width: 45%
		margin-bottom: 15px

		>label
			display: block
			margin-bottom: 3px

		input
			width: 100%
			padding: 0 10px
			height: 38px
			border: 2px solid $grey
			color: #4F4F4F
			outline: none
			background: #fff

		textarea
			width: 100%
			padding: 0 10px
			height: 78px
			border: 2px solid $grey
			color: #4F4F4F
			outline: none
			background: #fff
			resize: none
		


		&:hover
			input, textarea
				border-color: #C8C8C8

		&__wrap
			display: flex
			justify-content: space-between
			flex-wrap: wrap

	*::-webkit-input-placeholder 
		color: #C8C8C8
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease

	*:-moz-placeholder 
		color: #C8C8C8
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*::-moz-placeholder 
		color: #C8C8C8
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease


	*:-ms-input-placeholder 
		color: #C8C8C8
		text-indent: 0
		-webkit-transition: all .5s ease
		-o-transition: all .5s ease
		transition: all .5s ease

	&-item:hover

		*::-webkit-input-placeholder 
			color: #4F4F4F

		*:-moz-placeholder 
			color: #4F4F4F


		*::-moz-placeholder 
			color: #4F4F4F

		*:-ms-input-placeholder 
			color: #4F4F4F


.order-form
	padding-bottom: 40px
	&__block
		padding: 10px 20px
		margin: 0 0 30px
		border: 2px solid $grey

		h3
			font-size: 18px

		&--header
			margin: 0 -20px 10px
			padding: 0 20px 10px
			border-bottom: 2px solid $grey

	&__bottom
		.btn
			padding-left: 40px
			padding-right: 40px

.check-item
	input[type='checkbox']
		position: absolute
		z-index: -1
		opacity: 0

		+ label
			position: relative
			padding: 0 0 0 25px
			cursor: pointer

			&::before
				content: ''
				width: 16px
				height: 16px
				border: 1px solid #B8B8B8
				position: absolute
				left: 0
				top: 2px
				display: flex
				align-items: center
				justify-content: center
				
		&:checked + label
			background-color: transparent
			&::before
				content: '\f00c'
				font-family: 'FontAwesome'
				font-size: 12px
				color: #474747


.radio-list
	padding: 10px 0 0
	margin-bottom: 15px
	list-style: none

	li
		display: inline-block
		margin-right: 30px

		&:last-child
			margin-right: 0

	&+p
		padding-bottom: 10px

.radio-item
	input[type='radio']
		position: absolute
		z-index: -1
		opacity: 0

		+ label
			position: relative
			padding: 0 0 0 25px
			cursor: pointer

			&::before
				content: ''
				width: 16px
				height: 16px
				border: 1px solid #CACACA
				border-radius: 50%
				position: absolute
				left: 0
				top: 2px
				display: flex
				align-items: center
				justify-content: center
				
		&:checked + label
			background-color: transparent
			&::after
				content: ''
				position: absolute
				left: 4px
				top: 6px
				width: 8px
				height: 8px
				border-radius: 50%
				background: #4B4B4B


.no-border
	border: none

.pagination-list
	padding-bottom: 30px
	margin-bottom: 40px
	display: flex
	justify-content: flex-end
	list-style: none
	border-bottom: 1px solid $grey

	li
		padding: 0 5px
		margin-left: 20px
		min-width: 37px
		height: 29px
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid #C8C8C8
		background: #EDEAEC

		&:first-child
			margin-left: 0


.services

	h1
		margin-bottom: 25px

	&-item

		&__list
			margin-bottom: 40px
			list-style: none

			li
				position: relative
				padding: 0 0 0 10px
				font-size: 18px
				line-height: 22px

				&::before
					content: '-'
					position: absolute
					left: 0
					top: 0

		[class^="col"] > img
			display: block

		.btn
			padding: 8px 15px	
			font-weight: normal
			font-size: 16px
			border-width: 1px


	&-more
		margin-bottom: 30px
		&__header
			
			padding: 15px 10px
			font-size: 20px
			font-weight: bold
			background: #edeaec
			cursor: pointer

			>span
				position: relative
				display: inline-block
				padding-right: 30px

				&::before
					content: '\f078'
					position: absolute
					right: 0
					top: 7px
					font-size: 14px
					font-family: FontAwesome

			&.active
				background: #fff

		&__body
			display: none
			padding: 0 10px

			.show-more
				text-align: left

	article
		h2
			margin-bottom: 25px

.licenses
	position: relative
	margin-bottom: 40px
	&-slider

		&__item
		
		&__info
			max-width: 460px
			padding: 0 0 130px 30px


			>a
				display: inline-block
				color: #C42B30
				text-decoration: underline


		&__nav
			position: absolute
			left: 33.333%
			padding: 0 0 0 40px
			bottom: 0
			max-width: 300px
			z-index: 999

			.slick-slide
				margin-left: 5px
				margin-right: 5px
			img
				max-height: 110px



.sidebar-btn
	position: relative
	padding-left: 50px
	margin-bottom: 20px
	

	&::before
		content: '\f03a'
		font-family: "FontAwesome"
		font-size: 16px
		color: #fff
		position: absolute
		left: 15px
		top: 8px
		font-weight: normal



.sidebar-close
	position: absolute
	right: -30px
	top: 0
	width: 30px
	height: 30px
	display: flex
	align-items: center
	justify-content: center
	padding: 0
	background: #edeaec
	outline: none
	border: none

.tabs-mobile__btn
	display: none


.documentation

	&-item
		position: relative
		margin-bottom: 20px
		padding: 10px 0 0 80px
		min-height: 85px

		&__sertificate
			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 60px
				height: 85px
				background: url(../img/sertificate-ic.jpg)


		&__pdf
			margin-bottom: 0
			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 60px
				height: 67px
				background: url(../img/pdf-ic.jpg)

		&__img
			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 60px
				height: 68px
				background: url(../img/img-ic.jpg)

		>span
			display: block
			margin: 0 0 10px

		>a
			color: #969696

.projects

	&-wrap
		position: relative
	
	&-slider
		&__info
			padding: 0 0 130px 0
			h5
				margin-bottom: 22px

		&__btn
			position: absolute
			left: 33.333%
			padding: 0 0 0 15px
			bottom: 0

			button
				padding: 0
				background-color: transparent
				outline: none
				border: none

				
				img
					width: 45px
					height: 45px

			>span
				font-size: 14px
				display: inline-block
				margin: 0 3px

		&__prev
			margin-right: 20px
		&__next
			margin-left: 20px

	article
		padding: 25px 0 50px
		a
			display: inline-block
			margin-bottom: 20px
			color: #2E3192
			text-decoration: underline

		.btn
			padding: 8px 15px
			font-weight: 400
			font-size: 16px
			border-width: 1px
			text-decoration: none
			color: #da4045

			&:hover, &:focus
				color: #fff


ul.custom-list
	padding: 0
	list-style: none

	li
		position: relative
		padding: 0 0 0 20px

		&::before
			content: '\f00c'
			position: absolute
			left: 0
			top: 1px
			font-family: "FontAwesome"
			color: #79C571
			font-size: 14px




































@media only screen and (max-width: 1220px)
	.container
		width: 970px

	.company-description
		display: none

	.header-left
		max-width: 470px

	.navbar-nav>li>a
		margin: 0 10px

	.sidebar-item>ul>li>a
		padding-top: 10px
		padding-bottom: 10px
		line-height: normal

	.sidebar-catalog .drop::after
		top: 13px
	
	.sidebar-catalog .drop.active::after
		top: 16px

	.slider .slick-next
		right: 0

	.slider .slick-prev
		left: 0

	.cart-sidebar .btn
		font-size: 16px

	.select-item 
		margin-right: 30px

	.product-table__row>*
		font-size: 14px




















@media only screen and (max-width: 991px)
	.container
		width: 750px


	.header-wrap
		align-items: center
		flex-wrap: wrap
		flex-direction: column

	.header-left
		margin-bottom: 10px

	.header-nav
		margin: 20px 0 0
		padding: 10px 0 15px
		flex-wrap: wrap
		justify-content: center

	.navbar
		margin: 0 0 5px


	.sidebar
		position: absolute
		left: 15px
		top: 60px
		max-width: 290px
		z-index: 999
		background: #fff
		transform: translate(-1000px, 0)
		transition: all .3s

		&.active
			transform: translate(0, 0)

	.service-wrap
		flex-wrap: wrap

	.service-item
		width: 45%
		margin-bottom: 30px
		max-width: none
		align-items: center

		img
			margin-bottom: 15px

		span
			max-width: 200px

	.footer-wrap
		display: block

	.footer-left
		text-align: center

	.footer-right
		margin-top: 20px
		max-width: none
		text-align: center

		.btn
			width: 210px
			display: block
			margin: 0 auto

	.footer-link
		margin-bottom: 10px

	.footer-menu
		margin-top: 10px


	footer
		padding: 30px 0

	.order-header
		display: block
		margin: 0 0 25px

		h1
			margin-bottom: 10px

		&__left
			display: block

			>a
				display: inline-block
				margin-bottom: 15px	

	.product-cart__info
		margin-top: 30px











































@media only screen and (max-width: 767px)
	.container
		width: auto

	.licenses-wrap
		flex-wrap: wrap
		justify-content: center

	.licenses-item
		width: 48%
		margin-bottom: 30px
		display: flex
		flex-direction: column
		align-items: center

	.licenses-item__img
		margin: 0 0 15px

		img
			margin: 0 auto

	.header-nav__right
		display: none

	.header-address
		display: none

	.navbar-header
		display: flex
		align-items: center

	.header-login
		position: relative
		display: inline-block
		margin-right: 10px
		width: 18px
		height: 21px
		cursor: pointer
		&__wrap
			display: none
			position: absolute
			bottom: -48px
			right: -78px
			width: 140px
			background: #fff
			padding: 8px 5px
			z-index: 10
			border: 1px solid #da4045

			&::before
				content: ''
				position: absolute
				top: -11px
				left: 28%
				border: 5px solid transparent
				border-bottom: 5px solid #da4045

			a, span
				font-size: 14px

	a.header-cart
		position: relative
		display: inline-block
		width: 24px
		height: 20px


		>span
			position: absolute
			right: -2px
			top: -7px
			width: 14px
			height: 14px
			z-index: 10
			font-size: 9px
			background: #fff
			border: 1px solid
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center		

	



	.navbar
		margin: 0


	.header-nav
		display: block
		background-color: transparent
		margin: 0
		padding: 0

	.navbar-toggle
		margin: 0 0 0 15px
		padding: 0
		float: none
		.icon-bar
			position: relative
			height: 2px
			background: #da4045
			transition: all .2s ease

		&.active 
			.icon-bar
				margin: 0

				&:nth-of-type(1)
					width: 25px
					top: 7px
					transform: rotate(45deg)

				&:nth-of-type(2)
					background-color: transparent
				&:nth-of-type(3)
					width: 25px
					top: -7px
					transform: rotate(-45deg)

		.icon-bar
			&+.icon-bar
				margin-top: 5px

	.nav.navbar-nav.active
		display: block

	.navbar
		position: static

	.navbar-collapse
		background: #fff
		z-index: 100

	.navbar-nav
		position: relative
		display: block
		width: 100%
		padding: 15px 0 0


		>li
			display: block
			text-align: center
			margin: 0

			&:last-child, &:first-child
				>a
					margin: 0
			
			>a
				position: relative
				display: block
				padding: 10px 15px
				margin: 0
				font-size: 14px
				min-height: 0
				line-height: normal
				border-bottom: 1px solid #D5D5D5

				&.active
					color: #da4045

				&:hover, &:focus
					color: #da4045
					opacity: 1

	.tabs-nav
		display: none

	.tabs-item
		display: block

		&__body
			display: none

	.tabs-mobile__btn
		position: relative
		display: block
		margin-bottom: 10px
		min-height: 46px
		line-height: 46px
		background: #edeaec
		font-size: 14px
		font-weight: bold
		text-transform: uppercase
		color: #272727
		padding: 0 15px
		border: 1px solid transparent

		&::before
			content: '>'
			position: absolute
			right: 15px
			top: 0
			font-size: 18px
			font-weight: bold
			color: #272727
			font-family: monospace


		&:hover, &:focus
			opacity: 1
			color: #272727

	.active-m

		.tabs-mobile__btn
			border-color: #272727
			&::before
				transform: rotate(90deg)


	.tabs-wrapper
		padding: 0 0 30px

	.footer-logo
		max-width: 200px

	.faq 
		margin: 20px 0 20px

		h3
			margin-bottom: 10px

		&-item
			padding: 5px 0

			&:focus, &:hover
				opacity: 1


	.catalog-item__list--img
		max-width: 192px
		margin: 0 auto 15px

	.catalog-item__text
		text-align: center


	.product-cart__slider--nav
		max-width: none

	.content-wrap .tabs-wrapper
		margin: 30px 0 10px

	.services-item
		margin-bottom: 30px

	.licenses-slider__info 
		max-width: none
		padding: 30px 0 0


	.licenses-slider__nav
		position: static
		padding: 30px 0 0

	.projects-slider
		max-width: 300px
		margin: 0 auto

	.projects-slider__info
		padding: 0
		

	.projects-slider__btn
		position: static
		padding: 10px 0 0
		max-width: 200px
		margin: 0 auto



	.filters-block
		display: block
	.select-wrap
		margin-bottom: 10px
		display: block

	.select-item
		margin: 0 0 10px

		span
			min-width: 150px

	.product-item__list--img
		margin-bottom: 10px


	.product-table
		display: block

		&__row
			display: block
			border: 1px solid $grey
			padding: 10px
			margin-bottom: 15px

			>*
				display: block
				border: none
				padding: 0
				text-align: center

				&.product-table__name
					width: auto
					margin-bottom: 10px
					text-align: center

				&.btn-cart
					margin: 0 auto

				&.product-table__price
					margin-top: 10px

				.plus-minus
					margin: 0 auto

				.btn
					margin-top: 5px



























@media only screen and (max-width: 480px)

	header
		padding: 15px 0 0
	
	.logo
		max-width: 140px

	.header-mail
		padding: 0

		a	
			font-size: 14px
			font-weight: bold

		&::after
			display: none

	.header-left__top
		margin: 0

	.header-right
		.btn
			padding: 3px 10px 5px
			font-weight: normal
			font-size: 14px

	.header-right__mail, .header-right__tel
		height: auto

	.header-tel
		padding: 0

		a
			font-size: 14px

		&::after
			display: none

	.sidebar
		max-width: 260px

	.catalog-item__name
		font-size: 12px
		line-height: 15px

	.catalog
		>.row
			margin-left: -10px
			margin-right: -10px
			>[class^="col"]
				padding-left: 10px
				padding-right: 10px

		&-item
			height: 200px

			img
				max-height: 100%

	.section
		padding: 30px 0

		h2
			margin-bottom: 20px

	h2, h1
		font-size: 28px
		line-height: 34px

	.slider .slick-next, .slider .slick-prev
		width: 30px
		height: 30px

	.slider .slick-next::before, .slider .slick-prev::before
		width: 30px
		height: 30px

	.slider
		padding: 0 30px

	.licenses-item
		width: 50%

		&__img
			width: 139px
			height: 183px

	.inner
		padding: 25px 0 0

	.team-item 
		max-width: 138px
		margin-bottom: 30px

		&__info
			padding: 5px 0 0

			span, strong
				font-size: 14px
				line-height: 18px



	table.cart-table thead tr td
		padding: 10px 5px
		font-size: 10px

	table.cart-table tbody tr td 
		font-size: 10px
		padding: 10px 5px

		.plus-minus 
			width: 42px

	.cart
		h1
			margin: 0 0 10px

		.print-btn
			float: right
			position: relative
			top: -22px

	.cart-header
		display: block

		&__left
			display: block

	.cart-footer
		display: block 
		padding: 15px 0 15px

		.back-btn
			margin-bottom: 10px

	.cart-sidebar
		margin-bottom: 30px
		p 
			margin-bottom: 10px
			font-size: 14px

	.info-block
		font-size: 14px

	.form-item__wrap
		display: block

	.form-item
		width: auto

	.radio-list li
		display: block
		margin-bottom: 5px

	.order-form__bottom
		display: block

	.info-block
		margin-top: 20px

	.product-item__list
		padding: 10px
		border: 1px solid $grey

	.product-item__list--info
		display: block

	.product-item__list--text
		width: auto

		h5
			border: none

	.product-item__list--right
		width: auto

	.product-item__list--price
		border: none

	.product-item__list--img
		border: none

	.product-item__list--price
		margin-top: 10px


	.pagination-list li
		font-size: 12px
		margin-left: 10px
		min-width: 30px



@media only screen and (max-width: 400px)
	.product
		.col-lg-3.col-md-4.col-sm-6.col-xs-6
			width: 100%